/* profile.php figure out why main not there & Make about section responsive */

* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

/* Header and Footer */

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 15px 10px 10px 10px;

}

.logo {
    width: 155px;
    margin-left: 5px;
    height: auto;
}

/* Style the header links */
.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    line-height: 25px;
    border-radius: 4px;
}

/* Change the background color on mouse-over */
.header a:hover {
    background-color: #ddd;
    color: black;
}

/* Float the link section to the right */
.header-right {
    float: right;
}
  
footer {
    padding: 20px;
    margin: 40px 0px 0px 0px;
    text-align: center;
    background-color: #f1f1f1;
    color: black;
    font-size: .8em;
}
  
/* General */

body {
    background: #DD968D;
    background: -webkit-linear-gradient(top left, #DD968D, #D31D6B);
    background: -moz-linear-gradient(top left, #DD968D, #D31D6B);
    background: linear-gradient(to bottom right, #DD968D, #D31D6B);
    background-repeat: no-repeat;
}

.main {
    background-color: rgb(255, 255, 255);
    color: black;
    max-width: 700px;
    margin: 60px auto;
    width: 60%;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 25px;
    padding: 50px;
}

.post_container {
    background-color: #f1f1f1;
    margin: 30px 0 20px 0;
    padding: 20px 30px 20px 20px;
    border: 1px solid rgb(237, 237, 237);
    border-radius: 25px;
}

hr {
    width: 94%;
    margin: 0 auto;
}

/* Buttons */

#create_post_button { 
    background-color: white; 
    color: black; 
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px;
    width: 100%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: .9em;
    margin: 10px 0px 10px 0px;
    cursor: pointer;
}

.comment_button { 
    background-color: white; 
    color: black; 
    border: 1px solid black;
    border-radius: 8px;
    width: 20%;
    text-align: center;
    text-decoration: none;
    font-size: .9em;
    cursor: pointer;
    float: right;
    padding: 5px;
    margin: 20px 0;
}

input[type="button"]:hover {
    background-image: linear-gradient(to bottom right, #DD968D, #D31D6B);
    background-color: #D31D6B;
    transition-duration: 0.4s;
    color: white;
}

#button_div {
    text-align: center;
}

#about_button, #get_posts_button {
    background-color: white; 
    color: black; 
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 15px 10px 15px;
    text-align: center;
    font-size: 1em;
    margin: 10px 20px 10px 20px;
    cursor: pointer;
}

.fa-trash-o { 
    color: #D31D6B;
    cursor: pointer;
    margin-top: 10px;
    float: right;
}

.fa-trash-o:hover {
    transition-duration: 0.4s;
    color: black;
}


/* Text */
.comment_textarea {
    width: 72%;
    padding: 5px 0;
    margin: 20px 0;
    border-radius: 3px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #ec624f;
}

h3, h4, p {
    margin: 6px 0;
}

.timestamp {
    font-size: .6em;
    margin-top: 5px;
}

#post_textarea {
    width: 100%;
    height: 75px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 14px;
}

/* Comments */

.comment_container {
    margin-left: 20px;
}

.comment_container .content {
    width: 83%;
    display: inline-block;
    vertical-align: top;
}

.comment_container h4 {
    width: 80%;
    display: inline-block;
    vertical-align: top;
    padding-right: 5px;
    margin-bottom: 0;
}

.comment_container .timestamp {
    width: 15%;
    font-size: .3em;
    vertical-align: top;
    margin-top: -10px;
    float: right;
}


/* profile page */

#about {
    text-align: center;
}

#about input[type="button"] {
    background-color: white; 
    color: black; 
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 15px 10px 15px;
    text-align: center;
    font-size: 1em;
    margin: 15px 0px;
    cursor: pointer;
}

#about input[type="text"] {
    padding: 5px;
}

#about p {
    margin-bottom: 20px;
}


/* Login & Register page */
form input {
    padding: 10px;
}

#login_button, #register_button {
    background-color: white; 
    color: black; 
    border: 2px solid black;
    border-radius: 8px;
    padding: 10px 15px 10px 15px;
    text-align: center;
    font-size: 1em;
    margin: 15px 0px;
    cursor: pointer;
}

#login_button:hover, #register_button:hover {
    background-image: linear-gradient(to bottom right, #DD968D, #D31D6B);
    background-color: #D31D6B;
    transition-duration: 0.4s;
    color: white;
}

#remember {
    margin: 10px 0;
}

#registration_form input {
    margin: 10px 0;
    background-color: #f8f8f8;
}

.progress {
    width: 80%;
}


/* Responsiveness */
@media screen and (max-width: 800px) {
    .main {
        width: 80%;
        padding: 30px;
    }

    .post_container {
        margin: 15px 0 20px 0;
        padding: 20px 30px 20px 20px;
    }

    .timestamp {
        font-size: .3em;
        margin-top: 10px;
    }

    .comment_button { 
        font-size: .8em;
    }
    
}


@media screen and (max-width: 550px) {
    .header a {
        float: none;
        display: block;
        text-align: center;
    }
    .header-right {
        float: none;
    }

    .logo {
        margin: 0 auto;
        display: block;
    }

    .main {
        background-color: transparent;
        border: none;
        margin: 20px auto 0px auto;
        width: 90%;
        padding: 5px;
    }

    .post_container {
        width: 90%;
        margin: 20px auto;
        padding: 20px 10px 20px 10px;
    }

    #create_post_button { 
        margin: 15px 0px 15px 0px;
        cursor: pointer;
    }

    .fa-trash-o { 
        margin: 0px 0px 10px 0px;
        width: 100%;
        text-align: center;
    }

    .comment_button { 
        margin-top: 5px;
        margin-bottom: 10px;
        width: 100%;
        font-size: .7em;
        float: none;
    }

    .comment_textarea {
        width: 98%;
        margin: 20px auto 10px auto;
        float: center;
        display: block;
    }

    .comment_container {
        margin: 5px 5px 10px 0;
    }
    
    .comment_container .content {
        width: 100%;
        font-size: .9em;
    }
    
    .comment_container h4 {
        width: 100%;
        font-size: .8em;
    }
    
    .comment_container .timestamp {
        width: 100%;
        margin-top: 2px;
    }

    #about_button, #get_posts_button {
        width: 80%;
    }

    #about {
        background-color: #f8f8f8;
        margin: 30px 0 20px 0;
        padding: 20px 30px 20px 20px;
        border: 1px solid rgb(237, 237, 237);
        border-radius: 25px;
    }

    #login {
        background-color: rgb(255, 255, 255);
        margin: 30px auto 20px auto;
        padding: 20px;
        border: 1px solid rgb(237, 237, 237);
        border-radius: 25px;
    }

    form input[type="email"], form input[type="password"] {
        width: 100%;
    }

    #about:empty {
        background: none;
        margin: 0;
        padding: 0;
        border: none;
    }

    .progress {
        width: 100%;
    }

    #register_button {
        width: 100%;
    }



}